head, body{

    background-color:#ad8c9d;
    margin: 0;
    padding: 0;
}


.head{
    color: #170908;
    font-weight: bold;
    font-style: italic;

    

}
.Routine{
    display: grid;
    float: left;
    overflow: auto;
    border: 1px solid black;

}
.foods{
    display: grid;
    float: right;
    overflow: auto;
    border: 1px solid black;
}